/* Couleurs */
:root {
    --white-color: #ffffff;
    --purple-color: #9E91B7;
    --purple-color2: #3D2DA6;
    --blue-color: #07338C;
    --blue-color2: #021740;
    --pink-color: #F2CEF2;
    --pink-color2: #DF99F2;
    --black-color: #000;
}

/*********************** PREMIERE SECTION ****************************/
.first-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    font-family: beyno;
    color: var(--purple-color);
    font-size: 3.5vw;
}

/* partie gauche */
.left {
    margin: -18% auto auto -5%;
}

.left img {
    width: 75vw;
}

/* partie droite */
.right {
   margin: 18% auto auto -48%;
}

.right .pantherenigme2{
    margin: -5% auto -6% -4%;
}

.pantherenigme2 {
    position: relative;
}

.right .pantherenigme2 img{
    width: 40vw;
    height: 40vw;
}

.pantherenigme2-text {
    position: absolute;
    top: 15vw;
    left: 7vw;
    width: 28vw;
    text-align: justify;
    word-spacing: -0.5px;
}

.line{
    position: relative;
    top: -10vw;
}

.line img {
    width: 45vw;
    height: 0.6vh;
}

/* texte et image ajoutés */
#p4 {
    width: 2.5vw;
    height: auto;
    position: absolute;
    left: 10vw;
    margin-top: 1vw;
}

/*********************** DEUXIEME SECTION ****************************/
.second-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    margin: 0 auto;
}

/* Partie gauche */
.enigme-desc {
    margin-top: 8%;
    margin-bottom: 5%;
}

.left2 .num-enigme{
    font-family: beyno;
    font-size: 1.1em;
    text-decoration: underline;
    /* line-height: 3; */
}

.second-section .left2 .words h2 {
    font-family: wakanda;
    color: var(--purple-color);
    font-size: 1.5vw;
    letter-spacing: 3px;
    word-spacing: 0.8em;
    line-height: 1.6;
    margin-bottom: 5%;
}

.formulaire form{
    display: flex;
    flex-direction: column;
    gap: 8vh;
    width: 95%;
}

form input {
    width: 100%;
    height: 3vw;
    border-radius: 38px;
    border: 1px solid var(--purple-color);
    background: transparent;
    padding-left: 3%;
}

input::placeholder {
    color: var(--purple-color); 
    font-size: 1vw;
    font-family: cantarell;
}

form button, .popup1 button, .popup2 button{
    width: 10vw;
    padding: 2.5% 2.5%;
    border-radius: 38px;
    background-color: var(--pink-color);
    border: none;
    margin: 0 auto;
    color: var(--blue-color2);
    font-family: cantarell;
    font-size: 0.8em;
    font-weight: bold;
}

button[type='submit']:hover {
    box-shadow: 0px 0px 4px 4px var(--pink-color);
    cursor: pointer;
}

/* Partie droite */
.right2 {
    margin-left: 15%;
    position: relative;
}

.right2 img {
    width: 40vw;
    transform: scaleX(-1);
    margin-top: 7%;
}

.right2 .pantherenigme2-text2 {
    position: absolute;
    width: 30vw;
    top: 35%;
    left: 5vw;
    text-align: left;
}

#alphabet {
    font-family: wakanda;
    font-size: 1em;
}

#alphabet span {
    font-family: cantarell;
    font-size: 1em;
}


/* Popup */
.popup1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0.99; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content, .popup-content2 {
    background: linear-gradient(to bottom, #f2cef2a8 10%, var(--purple-color2) 90%);
    box-shadow: 0px 0px 5em 5em var(--purple-color2);
    margin: 15% auto;
    padding: 20px;
    width: 30%;
    height: 50%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    gap: 20%;
    
}

.popup1 h2, .popup2 h2{
    color: white;
    font-family: cantarell;
    font-size: 1.5em;
    text-transform: uppercase;
}

.popup1 button, .popup2 button {
    width: auto;
}

.popup2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0.99; 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#figma {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: 0 auto;
}